/* Navigation Bar CSS */

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #04634d;
    color: white;
    font-size: 1.354vw;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    padding: 5px;
    transition: background-color 0.5s ease;
    font-size: 1.25vw;
}
.nav-links a:hover {
    background-color: #058265;
    border-radius: 4px
}


.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.25vw;
    background-color: #c9c7c7;
    border: 8px solid #e3e3e3;
    padding: 25px;
}

.resource-links a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    margin-left: 25px;
    padding: 5px;
    background-color: ;
    border-radius: 6px;
    transition: background-color 0.5s ease;
    font-size: 1.25vw;
}
.resource-links a:hover {
    color white;
    background-color: #058265;
    border-radius: 4px
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.938vw;
    border: 8px solid #e3e3e3;
    padding: 25px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #3d403d;
    border: 8px solid #116149;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    transition: background-color 0.5s ease;
    font-size: 0.833vw;
}
.footer-links a:hover {
    background-color: #116149;
    border-radius: 4px
}