.home {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.navigation { grid-area: 1 / 1 / 2 / 6; }
.about { grid-area: 2 / 1 / 3 / 3; }
.why { grid-area: 2 / 3 / 3 / 5; }
.mission { grid-area: 3 / 1 / 4 / 5; }
.footer { grid-area: 4 / 1 / 5 / 5; }


.navigation {
    top: margin 100%;
    bottom: margin 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #04634d;
    color: white;
    font-size: 1.354vw;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    padding: 5px 5px;
    transition: background-color 0.5s ease;
    font-size: 1.25vw;
}
.nav-links a:hover {
    background-color: #058265;
    border-radius: 4px
}


.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 8px solid #e3e3e3;
    padding: 25px;
    font-size: 0.938vw;
}


.why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 8px solid #e3e3e3;
    padding: 25px;
    font-size: 0.938vw;
}


.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 8px solid #e3e3e3;
    padding: 25px;
    font-size: 0.938vw;
}



.footer {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.ft.content { grid-area: 1 / 1 / 2 / 2; }
.ft.gallery { grid-area: 2 / 1 / 3 / 2; }
.ft.resources { grid-area: 3 / 1 / 4 / 2; }
.ft.misc { grid-area: 4 / 1 / 5 / 2; }


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #3d403d;
    border: 8px solid #116149;
}

.footer-links{
    color: white;
    font-size: ;
}